<h1><span data-i18n="skills.my_skills">Who am I?</span></h1>

<div>
    <h3>One answer: I work as a data librarian in Ithaca, New York. </h3>
    <p>
    In 2011, I started teaching adult learners from diverse backrounds how to double-click, browse Wikipedia, and  enter functions into Excel. 
    </p><p>
    Six years later, I still love helping learners work towards their goals with technology, but I draw upon a different toolkit: developing web applications and open source software, consulting with clients from diverse backgrounds and with varying levels of technical expertise, mentoring young developers, and writing.
</p>
<p>
    Now as the <b>Social Science and Geospatial Data Librarian at Cornell University</b>, I specialize in helping learners and researchers find & interpret data across the social sciences, including supporting those who are new to digital methods. My techniques of choice include manipulating complex & messy datasets, data visualization, text mining, and generally using Python and other programming languages to pursue research questions. I also select for City and Regional Planning and connect students with quantitative datasets for web mapping & analysis. 
</p>
<hr >
<h3>Key methodologies:</h3>
<p>Exploratory data analysis; natural language processing; web application development; data skills instruction with learners with diverse backgrounds; data visualization and storytelling; technical writing</p>
<h3>Key technical skills:</h3>
<p>Python, R, SQL, pandas, tidyverse, scikit-learn, d3</p>
<h3>Learning-in-progress:</h3>
<p>TensorFlow, Tableau, JavaScript</p>   
<hr >
<p>
    Outside of work I love pinball, zines, hikes, cats, and trains.</p>
</div>