<div class="row">
    <div class ="col l7">
        <h1><span data-i18n="skills.my_skills">Projects</span></h1>
    </div>
<!--    <div class ="col l2 offset-l1">
            <h1><span data-i18n="skills.my_skills">Keywords</span></h1>
        </div> -->

</div>

{% for project in site.data.index.projects %}
    <div class="row">
       <div class="col l7">
                {% if project.image %}
                    <a href="{{ project.website }} "><img src="../img/{{ project.image }}" style="float:left; margin:15px; border:1px solid #021a40;"></a>
                {% endif %}
                <a href="{{ project.website }} "><h3 style="margin: 0">{{ project.name }}  [{{ project.year }}]</h2></a>
                <p style="margin: 0">{{ project.descr }} </p>
                {% if project.website %}
                    <a href="{{ project.website }} ">Project</a> &ensp; &ensp; &ensp; 
                {% endif %}
                {% if project.post %}
                <a href="{{ project.post }} ">Blog post</a> &ensp; &ensp; &ensp; 
                {% endif %}
                {% if project.github %}
                    <a href="{{ project.github }} ">GitHub repo</a>
                {% endif %}

                <br>

            </div>
        <div class="col l2 offset-l1">
            <br >
            {% if project.tags %}
                {% for tag in project.tags %}
                <span class="project_tag" name= "{{ tag }}"> {{ tag }} </span>
                {% endfor %}
            {% endif %}

        </div>
    </div>
    <hr >
{% endfor %}